.boxBottom {
  display: flex;
  margin-top: 1%;
}
.boxBottom .boxRight {
  width: 60%;
  margin: 0 1%;
}
.boxBottom .boxLeft {
  height: 400px;
  overflow-y: auto;
}
.boxBottom .boxRight {
  width: 90%;
}
